<!DOCTYPE html>
<html>
  <head>
    <title>Pick-A-Table</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>
  <% if logged_in? %>
  <script type="text/javascript">
      window.currentUser =
        <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
  </script>
   <% end %>
  <script type="text/javascript">
    window.imagesURL = {
      5A5 Steak Lounge: "<%= image_url('/restaurant_heads/5A5 Steak Lounge.jpg') %>",
      A16: "<%= image_url('/restaurant_heads/A16.jpg') %>",
      Absinthe Brasserie and Bar: "<%= image_url('/restaurant_heads/Absinthe Brasserie and Bar.jpg') %>",
      AAcquerello: "<%= image_url('/restaurant_heads/Acquerello.jpg') %>",
      Alioto's: "<%= image_url('/restaurant_heads/Alioto\'s.jpg') %>",
      Bellota: "<%= image_url('/restaurant_heads/Bellota.jpg') %>",
      Benihana: "<%= image_url('/restaurant_heads/Benihana.jpg') %>",
      Blue Plate: "<%= image_url('/restaurant_heads/Blue Plate.jpg') %>",
      Cala: "<%= image_url('/restaurant_heads/Cala.jpg') %>",
      Catch: "<%= image_url('/restaurant_heads/Catch.jpg') %>",
      Chapeau: "<%= image_url('/restaurant_heads/Chapeau.jpg') %>",
      China Live: "<%= image_url('/restaurant_heads/China Live.jpg') %>",
      Cotogna: "<%= image_url('/restaurant_heads/Cotogna.jpg') %>",
      Eight Tables: "<%= image_url('/restaurant_heads/Eight Tables.jpg') %>",
      Farallon: "<%= image_url('/restaurant_heads/Farallon.jpg') %>",
      Foreign Cinema: "<%= image_url('/restaurant_heads/Foreign Cinema.jpg') %>",
      Gary Danko: "<%= image_url('/restaurant_heads/Gary Danko.jpg') %>",
      Gracias Madre: "<%= image_url('/restaurant_heads/Gracias Madre.jpg') %>",
      Harris': "<%= image_url('/restaurant_heads/Harris\'.jpg') %>",
      Hawker Fare: "<%= image_url('/restaurant_heads/Hawker Fare.jpg') %>",
      House of Prime Rib: "<%= image_url('/restaurant_heads/House of Prime Rib.jpg') %>",
      Izakaya Kou: "<%= image_url('/restaurant_heads/Izakaya Kou.jpg') %>",
      Jardiniere: "<%= image_url('/restaurant_heads/Jardiniere.jpg') %>",
      John's Grill: "<%= image_url('/restaurant_heads/John\'s Grill.jpg') %>",
      L'Ardoise: "<%= image_url('/restaurant_heads/L\'Ardoise.jpg') %>",
      Le P'tit Laurent: "<%= image_url('/restaurant_heads/Le P\'tit Laurent.jpg') %>",
      Limon Rotisserie: "<%= image_url('/restaurant_heads/Limon Rotisserie.jpg') %>",
      Live Sushi Bar: "<%= image_url('/restaurant_heads/Live Sushi Bar.jpg') %>",
      Manzoni: "<%= image_url('/restaurant_heads/Manzoni.jpg') %>",
      Marlowe: "<%= image_url('/restaurant_heads/Marlowe.jpg') %>",
      Michael Mina: "<%= image_url('/restaurant_heads/Michael Mina.jpg') %>",
      Morton's The Steakhouse: "<%= image_url('/restaurant_heads/Morton\'s The Steakhouse.jpg') %>",
      Octavia: "<%= image_url('/restaurant_heads/Octavia.jpg') %>",
      Original Joe's: "<%= image_url('/restaurant_heads/Original Joe\'s.jpg') %>",
      Osha Thai Noodle Cafe: "<%= image_url('/restaurant_heads/Osha Thai Noodle Cafe.jpg') %>",
      Pacific Catch: "<%= image_url('/restaurant_heads/Pacific Catch.jpg') %>",
      Piqueos: "<%= image_url('/restaurant_heads/Piqueos.jpg') %>",
      ROOH: "<%= image_url('/restaurant_heads/ROOH.jpg') %>",
      Seoul Garden: "<%= image_url('/restaurant_heads/Seoul Garden.jpg') %>",
      Serpentine: "<%= image_url('/restaurant_heads/Serpentine.jpg') %>",
      SPQR: "<%= image_url('/restaurant_heads/SPQR.jpg') %>",
      Sutro's at the Cliff House: "<%= image_url('/restaurant_heads/Sutro\'s at the Cliff House.jpg') %>",
      Tartine Manufactory: "<%= image_url('/restaurant_heads/Tartine Manufactory.jpg') %>",
      Terzo: "<%= image_url('/restaurant_heads/Terzo.jpg') %>",
      The Progress: "<%= image_url('/restaurant_heads/The Progress.jpg') %>",
      The Rotunda at Neiman Marcus: "<%= image_url('/restaurant_heads/The Rotunda at Neiman Marcus.jpg') %>",
      The Stinking Rose: "<%= image_url('/restaurant_heads/The Stinking Rose.jpg') %>",
      Venticello: "<%= image_url('/restaurant_heads/Venticello.jpg') %>",
      Wayfare Tavern: "<%= image_url('/restaurant_heads/Wayfare Tavern.jpg') %>",
      Zuni Cafe: "<%= image_url('/restaurant_heads/Zuni Cafe.jpg') %>"
      }
  </script>
  <body>
    <%= yield %>
  </body>
</html>
